# Use pnpm only
engine-strict=true

# Workspaces
link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true

# Save exact versions, no carets
save-exact=true

# Strict peer dependency resolution
strict-peer-dependencies=false
auto-install-peers=true
